.bundle
log/*.log
tmp/**/*
tmp/*
.DS\_Store
.DS_Store
db/*.sqlite3
/log/*.pid
/coverage/*
public/system/*
public/assets/[^.]*
public/stylesheets/*.css
.ackrc
.sass-cache/*
*.scssc

vendor/bundle
config/mail.yml
config/omniauth.yml