.header
  = link_to(image_tag('layout/logo.png', :class => "curate-logo", :alt => "curate-logo"), root_url)
  = render(:partial => "shared/user.html.haml")
  #help
    = link_to('Help', help_url)
.clear