%tr{:class => "#{cycle('row-odd', 'row-even')}"}
  %td{:valign => "top"}
    = ontology_term.ncbo_id
  %td{:valign => "top"}
    = link_to(highlight(ontology_term.term_name, @query), ontology_term_url(ontology_term))
    = ncbo_ontology_link(ontology_term.ncbo_id, ontology_term.term_id)
