body {
  font-family: $droid;
  margin-top: 10px;
}

body, html {
  height: 100%;
  text-align: left;
  background-color: $page_background;
  color: $txt; }

a {
  color: $link; }

th {
  text-align: left; }

img {
  border: none; }

#loading {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  display: none; }

@mixin center-layout {
  /* center in viewport */
  /* fix page width */
  width: 940px;
  margin: auto;
  display: block;
  padding: 10px;
  position: relative; }

#header {
  background-color: $header_bg;
  margin-bottom: 5px;
  }

.header {
  @include center-layout;
  background-color: $header_content_bg;
  height: 90px; }

#main {
  background-color: $main_bg; }

.main {
  @include center-layout;
  min-height: 500px;
  background-color: $main_content_bg; }

#navigation {
  margin-top: -10px;
  background-color: $navigation_bg; }

.navigation {
  @include center-layout;
  height: 20px;
  color: $navigation_txt;
  position: relative;
  font-size: 16px;
  text-align: left;
  background-color: $navigation_content_bg;
  a {
    background: darken($navigation_link, 60%);
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: $navigation_link; }
  a:hover {
    background: $navigation_link;
    color: darken($navigation_link, 50%);
  } }

#footer {
  background: $footer_bg; }

.footer {
  @include center-layout;
  padding-top: 10px;
  text-align: right;
  background: $footer_content_bg;
  color: $footer_link;
  a {
    color: $footer_link; }}

.curate-logo {}

#user {
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 10px; }

#help {
  position: absolute;
  z-index: 5;
  top: 5px;
  right: 10px;
  top: 30px; }
