// views/annotations/create.js.haml
== $(".annotations-#{@annotation.field_name}").html("#{escape_javascript(annotation_list(@document.annotations_for(@annotation.field_name)))}");
== displayResult(#{@result.to_json.html_safe});
